@using Netwatch.Web.ViewModels.Shared
@*<div style="text-align: center;">

        <div class="row">
            <h2 class="page-header">Traffic last 24 hours</h2>
            <div class="col-md-12" style="text-align: center;">
                <canvas id="canvas" height="360" width="800"></canvas>
            </div>
        </div>

    </div>

    @section scripts {

        <script type="text/javascript">

            var lineChartData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        data: [65, 59, 90, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        data: [28, 48, 40, 10, 96, 27, 100]
                    }
                ]

            };

            var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

        </script>
    }*@

@Html.Partial("_SimpleLineChart", new LineChartViewModel
{
    Id = "canvas",
    Height = 400,
    Width = 800,
    Labels = new List<string> {"Januar", "Februar", "März"},
    DataSets = new List<LineChartDataSet>
    {
        new LineChartDataSet
        {
            Data = new List<long> {100, 200, 100}
        }
    }
})